.venv/
.env
__pycache__/
*.pyc
data/audio/*
data/renders/*
data/subtitles/*
data/thumbnails/*
!data/**/.gitkeep
# Google OAuth This is the secret for the people "maldosa"
client_secrets.json
token.json
data/*.mp4data/*.mp4
# Credenciales y tokens
secret.json
token.json
# Archivos de prueba
test.mp4
